<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
    <listeners>
        <listener class-name="com.hellofresh.challenge.listeners.TestAllureListener"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="com.hellofresh.challenge.tests.Test_2_SignIn"/>
            <class name="com.hellofresh.challenge.tests.Test_3_Login" />
            <class name="com.hellofresh.challenge.tests.Test_4_Checkout" />
        </classes>
    </test>
</suite>


